/****************************
************Card*************
****************************/

.cardContainer {
  width: 350px;
  background-color: var(--white);
  position: relative;
  border-radius: 6px;
  margin-bottom: 50px;
  background-color: var(--background-second);
}

.cardTextContainer {
  text-align: left;
  height: 100%;
  padding: 0 32px;
}

.cardContract {
  display: flex;
  padding-top: 50px;
  align-items: center;
}

.cardContractDot {
  padding: 0 12px;
}

.cardPosition {
  padding: 16px 0;
}

.cardLocation {
  padding: 40px 0;
  color: var(--violet);
}
