/****************************
****Details Card Header******
****************************/

.detailsHeaderLogo {
  top: auto;
  left: auto;
  position:initial;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-second);
  margin: 0 24px;
  border-radius: 15px;
  margin-top: -20px;
}

.detailsHeaderLogoContainer {
  margin-top: -25px;
}

.detailsHeaderTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.detailsHeaderText {
  padding: 24px 0;
  text-align: center;
}

#detailsHeaderButton {
  font-weight: bold;
}

@media (min-width: 768px) {
  .detailsHeaderContainer {
    flex-direction: row;
    height: 140px;
    margin-top: -25px;
  }

  .detailsHeaderLogoContainer {
    width: 140px;
    height: 140px;
    margin-top: 0;
  }

  .detailsHeaderLogo {
    border-radius: 15px 0 0 15px;
    width: 140px;
    height: 140px;
  }

  .detailsHeaderTextContainer {
    padding: 0 40px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .detailsHeaderText {
    text-align: left;
  }

  #detailsHeaderButton {
    width: 120px;
  }
}

@media (min-width: 1280px) {
  .detailsHeaderContainer {
    margin-top: -20px;
  }
}

