/****************************
****Details Card Footer******
****************************/

.detailsFooterContainer {
  background-color: var(--background-second);
  padding: 25px;
  flex-shrink: 0;
}

#detailsFooterButton {
  width: 100%;
  font-weight: bold;
}

@media (min-width: 768px) {
  .detailsFooterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #detailsFooterButton {
    width: 120px;
  }
}
