/****************************
*********Jobs Board**********
****************************/

.jobsContainer {
  background-color: var(--background);
  padding: 100px 25px 0 25px;
  display: grid;
  justify-content: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .jobsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .jobsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.mainLogo {
  padding: 45px 0 85px 0;
}