/****************************
*********Jobs Board**********
****************************/

.jobsContainer {
  background-color: #F2F2F2;
  padding: 100px 25px 0 25px;
  display: grid;
  justify-content: center;
}