@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}


:root {
  --violet: #5964E0;
  --lightViolet: #939BF4;
  --darkBlue: #19202D;
  --midnight: #121721;
  --white: #FFFFFF;
  --lightGrey: #F4F6F8;
  --grey: #9daec2;
  --darkGrey: #6E8098;
  --text-heading: var(--darkBlue);
  --text-p: var(--darkGrey);
  --background: #F2F2F2;
  --background-second: var(--white);
  --searchbox-text: #000000;
  --filter-fill: var(--darkGrey);
}

[data-theme="dark"] {
  --text-heading: var(--white);
  --text-p: var(--grey);
  --background: var(--midnight);
  --background-second: var(--darkBlue);
  --searchbox-text: var(--white);
  --filter-fill: var(--white);
}
